

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #F9F4DA;
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

.status {
  width: 360px;
  height: 60px;
  text-align: center;
  color: #F9F4DA;
  font-size: 1rem;
  border-radius: 8px;
}

.win {
  background-color: #10A95B;
}

.lose {
  background-color: #EC5D49;
}

.update {
  background-color: #7A5EA7
}

.status > h2 {
  margin: 0.2rem;
  font-style: italic;
  font-weight: 300;
}

.status > p {
  margin-top: 0rem;
}

.sub-header {
  color: #8E8E8E;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0rem;
}

.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  max-width: 360px;
  justify-content: center;
  margin-top: 2rem;
}



.chip {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: .75rem;
  font-weight: bold;
  margin: .1rem;
  position: relative;
}

div.lost::before {
  content: "💀";
  position: absolute;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  width: 40px;
  height: 40px;
  background: #323232;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border-bottom: #F9F4DA solid 1px;
  margin: 1rem .2rem;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;;
  margin-top: 2rem;
  gap: .2rem;
}

.key {
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #D7D7D7 solid 1px;
  border-radius: 8px;
  color: #1E1E1E;
  font-weight: 700;
  cursor: pointer;
}

.unpressed {
  background: #FCBA29;
}
.correct {
  background: #10A95B;
}
.incorrect {
  background: #EC5D49;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
  cursor: pointer;
}

.not-guessed {
  visibility: hidden;
}